@font-face {
  font-family: pyidaungsu;
  src: local('../fonts/Pyidaungsu-2.5.3_Regular.ttf'), url('../fonts/Pyidaungsu-2.5.3_Regular.ttf') format("truetype");
}
.bg-gray-pink {
  background: #f6efe7;
}
.bg-gray {
  background: #f0f0f0;
}
.pd80 {
  padding: 80px 0;
}
.pd60 {
  padding: 60px 0;
}
.pt60 {
  padding-top: 60px;
}
.text-green {
  color: #759843;
}
a {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a:hover {
  text-decoration: none;
  color: #e39236;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  text-align: center;
  padding: 5px 3px 10px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  max-width: 98.5%;
  width: auto;
  margin: 0;
  padding: 0;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter {
  display: block;
  margin: 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cormorant', serif, pyidaungsu;
  line-height: 1.5;
}
li,
a,
p,
span,
div {
  font-family: 'Open Sans', sans-serif, pyidaungsu;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
}
.btn-space {
  margin-top: 20px;
}
.btn-1 {
  position: relative;
  display: inline-block;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  padding: 10px 25px;
  border-radius: 30px;
  transition: 0.3s;
  color: #fff;
  border: 1px solid transparent;
  transition: 0.2s 0.1s;
  width: auto;
}
.btn-1 span {
  position: relative;
  color: #fff;
  font-weight: bold;
}
.btn-1:hover {
  color: #000;
  transition: 0.2s 0.1s;
  border: 1px solid #e39236;
}
.btn-1:hover span {
  color: #759843;
}
.btn-1:before {
  content: '';
  position: absolute;
  background-color: #e39236;
  transition: 0.3s ease-out;
  border-radius: 30px;
}
.btn.hover-filled-slide-up:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.btn.hover-filled-slide-up:hover:before {
  height: 0%;
}
.inner-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}
.blog-title {
  font-size: 26px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif, pyidaungsu;
  line-height: 50px;
}
.primary-heading,
.secondary-heading {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 55px;
  padding-bottom: 15px;
  position: relative;
}
.primary-heading:after,
.secondary-heading:after {
  content: '';
  position: absolute;
  width: 84px;
  height: 3px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.primary-heading {
  color: #252525;
}
.primary-heading:after {
  background: #e39236;
}
.secondary-heading {
  color: #fff;
}
.secondary-heading:after {
  background: #fff;
}
.slide-title {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  font-family: 'Open Sans', sans-serif, pyidaungsu;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.slide-title:hover {
  color: #e39236;
}
.pp-title {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.pp-title:hover {
  color: #e39236;
}
.star-rating {
  height: 12px;
  position: relative;
  width: 60px;
  margin: 0 auto;
}
.star-rating:before {
  background-image: url("/wp-content/uploads/2021/01/empty-star.png");
  background-repeat: repeat space;
  background-size: 12px;
  bottom: 0;
  content: "";
  display: block;
  height: 12px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  margin: 0 2px;
}
.star-rating > span {
  display: block;
  text-indent: -10000px;
  width: 60px;
  height: 12px;
  position: absolute;
  overflow: hidden;
}
.star-rating > span:before {
  background-image: url("/wp-content/uploads/2021/01/rating-star.png");
  background-repeat: repeat space;
  background-size: 12px;
  bottom: 0;
  content: "";
  display: block;
  height: 12px;
  left: 0;
  position: absolute;
  right: 0;
  text-indent: 10000px;
  top: 0;
  margin: 0 2px;
}
.swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  height: calc(35%);
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.inner-banner {
  padding: 185px 0;
}
.breadcrumb {
  background: transparent;
  margin-top: 50px;
}
.breadcrumb .breadcrumb-box {
  background: #e392362e;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 70px;
}
.breadcrumb .breadcrumb-box #breadcrumbs span,
.breadcrumb .breadcrumb-box #breadcrumbs a {
  color: #fff;
}
.breadcrumb .breadcrumb-box #breadcrumbs a i {
  font-size: 25px;
  color: #fff;
  margin-right: 5px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.breadcrumb .breadcrumb-box #breadcrumbs a:hover i {
  color: #759843;
}
.breadcrumb h1 {
  font-size: 50px;
  color: #fff;
  font-weight: 700;
}
.breadcrumb p {
  font-size: 20px;
  color: #fff;
}
.home-slide a {
  border: 1px solid transparent !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.home-slide a:hover {
  background: transparent !important;
  border: 1px solid #e39236 !important;
}
.home-slide a:hover span {
  color: #759843 !important;
}
.home-slide span.product-btn {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
}
header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
header .top-bar ul {
  list-style-type: none;
  text-align: right;
  margin-top: 15px;
}
header .top-bar ul li {
  display: inline-block;
  margin-left: 15px;
}
header .top-bar ul li span {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
header .top-bar ul li span.badge-default {
  background: #e39236;
  padding: 5px 10px;
  border-radius: 30px;
  margin-left: 10px;
}
header .stellarnav >ul {
  text-align: right;
}
header .stellarnav ul li a {
  padding: 20px 14px;
  color: #fff;
  font-weight: 700;
}
header .stellarnav ul li:last-child a {
  padding-right: 0;
}
header .stellarnav ul li.current_page_item {
  position: relative;
}
header .stellarnav ul li.current_page_item:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 2px;
  background: #e39236;
}
header .stellarnav ul li.current_page_item a {
  color: #e39236;
}
header .stellarnav ul ul {
  background: #e392362e;
}
header .stellarnav ul ul >li {
  border-bottom: 1px solid #f8f9fa1c;
  margin: 0 20px;
}
header .stellarnav ul ul >li:last-child {
  border-bottom: 0;
}
header .mobile ul li.current_page_item a {
  position: relative;
}
header .mobile ul li.current_page_item a:after {
  width: 100%;
  left: 0;
}
.hm-service {
  background: url(/wp-content/uploads/2021/01/service-background.png) no-repeat;
  background-position: center;
  background-size: cover;
}
.hm-service .service-box {
  text-align: center;
  color: #fff;
}
.hm-service .service-box h3 {
  margin-top: 40px;
  color: #fff;
}
.hm-service .service-box p {
  color: #fff;
}
.best-seller .seller {
  position: relative;
}
.best-seller .best-seller-slide h4 {
  margin-bottom: 15px;
}
.best-seller .best-seller-slide .card {
  border-bottom: 4px solid #e39236;
}
.best-seller .swiper-button-next,
.best-seller .swiper-button-prev {
  color: #73848e;
}
.best-seller .seller-next {
  right: -50px;
}
.best-seller .seller-prev {
  left: -50px;
}
.premium-product {
  background: url(/wp-content/uploads/2021/01/premium-product-banner.png) no-repeat;
  background-size: cover;
}
.premium-product .product-box {
  position: relative;
}
.premium-product .swiper-button-next,
.premium-product .swiper-button-prev {
  color: #fff;
}
.premium-product .product-next {
  right: -50px;
}
.premium-product .product-prev {
  left: -50px;
}
.premium-product .card {
  background: #e392362e;
  border: 0;
  padding: 15px;
  height: 100%;
  min-height: 433px;
}
.premium-product .card .card-body {
  padding: 1rem;
}
.latest-blog {
  position: relative;
}
.latest-blog:after,
.latest-blog:before {
  content: '';
  position: absolute;
  top: 100px;
}
.latest-blog:before {
  background: url(/wp-content/uploads/2021/01/j-donut.jpg) no-repeat;
  width: 181px;
  height: 290px;
  left: 0;
}
.latest-blog:after {
  background: url(/wp-content/uploads/2021/01/cake-bg.jpg) no-repeat;
  width: 234px;
  height: 264px;
  right: 0;
}
.latest-blog .blog-box {
  position: relative;
}
.latest-blog .swiper-slide {
  margin-bottom: 20px;
}
.latest-blog .card {
  background: #fff;
  padding: 15px;
  text-align: left;
  border: 0;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
  position: relative;
  z-index: 1;
}
.latest-blog .card .img-date {
  position: relative;
}
.latest-blog .card .img-date .b-date {
  position: absolute;
  left: 15px;
  bottom: -25px;
  background: #759843;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  text-align: center;
  padding: 10px 0;
}
.latest-blog .card .img-date .b-date span {
  display: block;
  color: #fff;
  line-height: 20px;
}
.latest-blog .card .img-date .b-date span.day {
  font-size: 24px;
  font-weight: 700;
}
.latest-blog .card .img-date .b-date span.month {
  font-size: 12px;
}
.latest-blog h4 {
  min-height: 100px;
  margin-top: 20px;
}
.latest-blog .swiper-button-next,
.latest-blog .swiper-button-prev {
  color: #73848e;
}
.latest-blog .blog-next {
  right: -50px;
}
.latest-blog .blog-prev {
  left: -50px;
}
.testimonial .client-box {
  position: relative;
}
.testimonial .client-slide .card {
  padding: 20px;
  text-align: left;
  position: relative;
  min-height: 300px;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
}
.testimonial .client-slide .card p {
  font-size: 14px;
}
.testimonial .client-slide .card img {
  width: 70px;
  margin-bottom: 20px;
  border-radius: 100%;
}
.testimonial .client-slide .card h5 {
  font-size: 18px;
  color: #759843;
}
.testimonial .client-slide .card:after {
  content: '';
  background: url('/wp-content/uploads/2021/01/quote-left.png') no-repeat;
  position: absolute;
  top: 20px;
  right: 15px;
  width: 70px;
  height: 100%;
}
.testimonial .client-content {
  width: 500px;
}
.testimonial .swiper-button-next,
.testimonial .swiper-button-prev {
  color: #73848e;
}
.testimonial .client-next {
  right: -50px;
}
.testimonial .client-prev {
  left: -50px;
}
.follow-facebook {
  background: #e39236;
  text-align: center;
}
.follow-facebook a.btn-fb {
  background: #fff;
  color: #759843;
  border-radius: 30px;
  padding: 3px 50px;
  font-size: 14px;
}
.follow-facebook a.btn-fb:hover {
  background: #759843;
  color: #fff;
}
.youtube-section {
  background: url(/wp-content/uploads/2021/01/youtube-banner.png) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.youtube-section a {
  color: #fff;
  text-decoration: underline;
  font-size: 22px;
}
.youtube-section a:hover {
  color: #759843;
}
.youtube-section .y-title {
  font-size: 70px;
  font-weight: 700;
  color: #fff;
}
.ab-box {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}
.ab-box h3 {
  font-size: 27px;
  margin-bottom: 20px;
}
.ab-box p {
  color: #fff;
}
.ab-detail {
  position: relative;
}
.about-img-box {
  position: relative;
}
.ab-content {
  margin-top: 50px;
}
.ab-cake-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ab-cake-img img {
  width: 430px;
}
.blog-detail {
  background: #fff;
  padding: 20px;
}
.blog-detail .img-date {
  position: relative;
  margin: 0 auto;
}
.blog-detail .img-date .b-date {
  position: absolute;
  left: 15px;
  bottom: -25px;
  background: #759843;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  text-align: center;
  padding: 10px 0;
}
.blog-detail .img-date .b-date span {
  display: block;
  color: #fff;
  line-height: 20px;
}
.blog-detail .img-date .b-date span.day {
  font-size: 24px;
  font-weight: 700;
}
.blog-detail .img-date .b-date span.month {
  font-size: 12px;
}
.blog-detail .blog-content {
  padding-top: 50px;
}
.blog-detail .blog-content ul {
  list-style-type: none;
  padding-left: 0;
}
.blog-detail .blog-content ul li {
  position: relative;
  margin-left: 30px;
  margin-bottom: 10px;
}
.blog-detail .blog-content ul li:before {
  content: '';
  background: url(/wp-content/uploads/2021/01/taste-icon.png);
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  top: 2px;
}
footer {
  background: #da3834;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  color: #fff;
}
footer div,
footer p,
footer a,
footer span {
  color: #fff;
}
footer hr {
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-top-color: #fff;
  opacity: 0.15;
}
footer .copyright-container {
  text-align: center;
}
footer .copyright-container p {
  margin-bottom: 0;
}
footer .copyright-container a {
  font-size: 14px;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
footer .copyright-container a .service-owner {
  color: #ffc211;
}
footer .copyright-container a:hover {
  color: #ffc211;
}
footer .copyright-container .service-owner-logo {
  width: 46px;
  margin-left: 7px;
}
.csr-content {
  padding-top: 50px;
}
.csr-content ul li {
  list-style-type: square;
}
.csr .csr-image-box {
  position: relative;
  margin-bottom: 30px;
}
.csr .csr-image-box .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2525256b;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.csr .csr-image-box .img-overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 20px;
}
.csr .csr-image-box:hover .img-overlay {
  opacity: 1;
}
#site-map {
  height: 500px;
  border: 1px solid #ddd;
  margin-top: 50px;
}
.contact-info {
  background: #fff;
  padding: 50px;
}
.contact-info h2 {
  font-weight: 700;
  margin-bottom: 30px;
}
.contact-info .media {
  margin-bottom: 30px;
}
.contact-info .media i {
  font-size: 30px;
  color: #759843;
}
.contact-info .media-body {
  margin-left: 30px;
}
.sidebar .latest-post {
  background: #fff;
  padding: 20px;
}
.sidebar .latest-post h3 {
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}
.sidebar .latest-post h3:after {
  content: '';
  position: absolute;
  background: #e39236;
  width: 45px;
  height: 2px;
  bottom: 0;
  left: 0;
}
.sidebar .latest-post ul {
  list-style-type: none;
  padding-left: 0;
}
.sidebar .latest-post ul li {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.sidebar .latest-post ul li .s-image-box {
  position: relative;
}
.sidebar .latest-post ul li .s-image-box .s-image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.sidebar .latest-post ul li .s-image-box:hover .s-image-overlay {
  opacity: 0.3;
}
.sidebar .latest-post ul li .media-body {
  margin-left: 15px;
}
.sidebar .latest-post ul li .media-body span {
  font-family: 'Cormorant', serif;
  color: #759843;
  font-weight: 700;
}
.sidebar .latest-post ul li .media-body p {
  margin-top: 10px;
}
.sidebar .latest-post ul li .media-body p:hover a {
  color: #e39236;
}
.sidebar .latest-post ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}
.career-pg form {
  background: #fff;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
  padding: 30px;
}
.career-pg form input,
.career-pg form textarea {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}
.career-pg form textarea {
  height: 100px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.career-pg form span.color-red {
  color: #ff0000;
}
.career-pg form label {
  color: #759843;
  font-size: 16px;
}
.career-pg form .btn.hover-filled-slide-up:before {
  border-radius: 50px;
}
.career-pg form button {
  padding: 0;
  width: 100%;
  margin: 0;
  border-radius: 50px;
}
.career-pg form button input[type="submit"] {
  padding: 0;
  position: relative;
  background: transparent;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: #fff;
}
.career-pg form button input[type="submit"]:focus {
  outline: none;
}
.career-pg form button:focus {
  outline: none;
  box-shadow: none;
}
.career-pg form button:hover input[type="submit"] {
  color: #759843;
}
.product-detail .p-detail-content {
  margin-top: 20px;
}
.product-detail .product-fact {
  border-left: 1px solid #ececee;
  padding: 30px;
}
.product-detail .product-fact .facts {
  padding: 50px 0;
  border-bottom: 1px solid #ececee;
}
.product-detail .product-fact .facts:first-child {
  padding-top: 0;
}
.product-detail .product-fact .facts:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
.product-detail .product-fact .facts h2 {
  font-style: italic;
  color: #e39236;
}
.product-detail .product-fact .facts p {
  font-size: 18px;
  line-height: 1.8;
}
.product-detail .related-product {
  position: relative;
  margin-top: 80px;
}
.product-detail .related-product .card {
  border: 0;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
}
.product-detail .related-product .card .card-body {
  border-bottom: 4px solid #e39236;
}
.product-detail .related-product .product-slide-box {
  position: relative;
}
.product-detail .related-product .p-next,
.product-detail .related-product .p-prev {
  color: #73848e;
  top: 0;
}
.product-detail .related-product .p-next {
  right: 0;
}
.product-detail .related-product .p-prev {
  left: auto;
  right: 50px;
}
.product-list .card {
  border-bottom: 4px solid #e39236;
}
.order-box {
  padding: 30px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}
.order-box img {
  width: 100%;
}
@media (max-width: 1199.98px) {
  header .stellarnav ul li a {
    padding: 20px 10px;
  }
  .hm-service .service-box {
    margin-bottom: 2rem;
  }
  .hm-service .service-box h3 {
    margin-top: 20px;
  }
  .inner-title {
    font-size: 21px;
  }
  .premium-product .card {
    min-height: 0;
  }
  .ab-box h3 {
    font-size: 23px;
  }
  .blog-title {
    font-size: 20px;
  }
  .testimonial .client-content {
    width: 420px;
  }
  .testimonial .client-slide .card {
    min-height: 325px;
  }
}
@media (max-width: 991.98px) {
  header .top-bar ul {
    text-align: left;
  }
  header .stellarnav .menu-toggle {
    position: absolute;
    right: 0;
    top: 0px;
  }
  header .stellarnav .menu-toggle span.bars span {
    background: #fff;
    width: 23px;
    margin: 0 0 4px;
  }
  .home-slide h1 {
    font-size: 50px !important;
  }
  .youtube-section .y-title {
    font-size: 60px;
  }
  .product-detail .product-fact .facts h2 {
    font-size: 21px;
  }
  .product-detail .product-fact .facts p {
    font-size: 16px;
  }
  .testimonial .client-content {
    width: auto;
  }
  .testimonial .client-slide .card {
    min-height: auto;
  }
}
@media (max-width: 767.98px) {
  header .top-bar ul li.hotline {
    display: none;
  }
  .best-seller .seller-next,
  .best-seller .product-next,
  .best-seller .blog-next,
  .best-seller .client-next,
  .premium-product .seller-next,
  .premium-product .product-next,
  .premium-product .blog-next,
  .premium-product .client-next,
  .latest-blog .seller-next,
  .latest-blog .product-next,
  .latest-blog .blog-next,
  .latest-blog .client-next,
  .testimonial .seller-next,
  .testimonial .product-next,
  .testimonial .blog-next,
  .testimonial .client-next {
    right: 0;
  }
  .best-seller .seller-prev,
  .best-seller .product-prev,
  .best-seller .blog-prev,
  .best-seller .client-prev,
  .premium-product .seller-prev,
  .premium-product .product-prev,
  .premium-product .blog-prev,
  .premium-product .client-prev,
  .latest-blog .seller-prev,
  .latest-blog .product-prev,
  .latest-blog .blog-prev,
  .latest-blog .client-prev,
  .testimonial .seller-prev,
  .testimonial .product-prev,
  .testimonial .blog-prev,
  .testimonial .client-prev {
    left: 0;
  }
  .latest-blog h4 {
    min-height: 0;
  }
  .latest-blog:after {
    bottom: 0;
    top: auto;
  }
  .pp-title {
    font-size: 23px;
  }
  .youtube-section .y-title {
    font-size: 50px;
  }
  .product-detail .product-fact {
    margin-top: 30px;
    border: 0;
    padding: 0;
  }
  .product-detail .product-fact .facts {
    padding: 30px 0;
  }
  .product-detail .product-fact .facts:last-child {
    border-bottom: 1px solid #ececee;
  }
  .order-box {
    padding: 20px;
  }
}
@media (max-width: 575.98px) {
  header .top-bar ul li.open-hour {
    display: none;
  }
  .home-slide h1 {
    font-size: 30px !important;
    margin-bottom: 20px !important;
  }
  .home-slide p {
    font-size: 14px !important;
  }
  .csr-image-box img {
    width: 100%;
  }
  .n2-ss-slider-2 {
    height: 350px !important;
  }
}
@media (max-width: 413.98px) {
  .primary-heading,
  .secondary-heading {
    font-size: 35px;
  }
  .youtube-section .y-title {
    font-size: 35px;
  }
  .youtube-section img {
    width: 50px;
  }
  .youtube-section a {
    font-size: 18px;
  }
}
